@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@100;300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

main {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
}

section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  width: 25vw;
  height: 50vh;
  margin-top: 15vh;
  padding: 4em 3em 3em;
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 400;
  color: #f2f2f2;
  font-size: 2em;
  margin: 1em 0 1em 0;
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
  color: #ffffffbf;
  word-wrap: break-word;
  line-height: 1.5em;
  font-size: 1em;
  margin-bottom: 3em;
}

.sedans {
  background-color: #e38826;
  border-radius: 5px 0 0 5px;
}

.sedans > .button {
  color: #e38826;
}

.suv {
  background-color: #006970;
}

.suv > .button {
  color: #006970;
}

.luxury {
  background-color: #004241;
  border-radius: 0 5px 5px 0;
}

.luxury > .button {
  color: #004241;
}

.button {
  font-weight: 300;
  background-color: #f2f2f2;
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.8em;
  text-decoration: none;
  margin-bottom: 0.5em;
  padding: 1em 2.5em;
  max-width: fit-content;
  border-radius: 50px;
  border: 2px solid #f2f2f2;
}

.button:hover {
  color: #f2f2f2;
  background-color: transparent;
}

footer {
  text-align: center;
  margin-top: 3em;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 300;
  color: #004241;
  text-decoration: none;
}

.attribution > a {
  text-decoration: none;
  color: #004241;
  font-weight: 700;
}
/* media query */

@media (max-width: 1060px) {
  section {
    height: 50vh;
  }
}

@media (max-width: 975px) {
  main {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1em 2em;
    padding: 0;
  }

  section {
    margin: 0;
    width: 90vw;
    height: 45vh;
    padding: 3em;
  }

  p {
    font-size: 1.1em;
  }

  .sedans {
    margin-top: 5em;
    border-radius: 5px 5px 0 0;
  }

  .luxury {
    border-radius: 0 0 5px 5px;
  }

  .suv,
  .luxury {
    margin-top: 0;
  }

  footer {
    margin: 2em 0;
    font-size: 0.7em;
  }
}
